doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title My Website
    link(rel="stylesheet" href="/main.css")
  body
    //- Navigation Bar
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/about") About
        li
          a(href="/services") Services
        li
          a(href="/contact") Contact

    //-Main
    main 
        p Oops, this website is only accessible from Monday to Friday between the time of 9 am. to 5 pm. Sorry for the inconvenience.