doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title My Website
    link(rel="stylesheet" href="/main.css")
  body
    //- Navigation Bar
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/about") About
        li
          a(href="/services") Services
        li
          a(href="/contact") Contact

    //-Main
    main 
        p It seems an error occured somewhere
        a(href="/") click here to go back to the home page.